---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clone Twitter UI">
  <div class="flex flex-col items-center justify-center min-h-screen bg-sky-100/90">
    <h1 class="text-3xl font-bold mb-8 text-blue-500">Clone Twitter UI </h1>
    <nav class="space-y-4">
      <a href="/login" class="block bg-blue-500 text-white py-3 px-6 rounded hover:bg-blue-600">
        Inicio de Sesión
      </a>
      <a href="/timeline" class="block bg-blue-500 text-white py-3 px-6 rounded hover:bg-blue-600">
        Línea de Tiempo
      </a>
      <a href="/new-tweet" class="block bg-blue-500 text-white py-3 px-6 rounded hover:bg-blue-600">
        Nuevo Tweet
      </a>
    </nav>
  </div>
</Layout>
